-------------------------------------------------------------------------------------
-- What's New in SQL Server 2019
-- Verbose truncation warnings
-- Slovak SQL Server & BI User Group, 19.11.2019
-- Milos Radivojevic, Data Platform MVP, bwin, Vienna, Austria
-------------------------------------------------------------------------------------
IF DB_ID('TestDb') IS NULL CREATE DATABASE TestDb;
GO
USE TestDb;
GO
--ensure that the database runs in CL 140
ALTER DATABASE TestDb SET COMPATIBILITY_LEVEL = 140;
GO
DROP TABLE IF EXISTS dbo.T;
--create sample table
CREATE TABLE dbo.T(
col1 VARCHAR(10),
col2 VARCHAR(10),
col3 VARCHAR(10),
col4 VARCHAR(10),
col5 VARCHAR(10),
col6 VARCHAR(10),
col7 VARCHAR(10),
col8 VARCHAR(10),
col9 VARCHAR(10),
col10 VARCHAR(10),
col11 VARCHAR(10),
col12 VARCHAR(10),
col13 VARCHAR(10),
col14 VARCHAR(10),
col15 VARCHAR(10),
col16 VARCHAR(10),
col17 VARCHAR(10),
col18 VARCHAR(10),
col19 VARCHAR(10),
col20 VARCHAR(10),
col21 VARCHAR(10),
col22 VARCHAR(10),
col23 VARCHAR(10),
col24 VARCHAR(10),
col25 VARCHAR(10),
col26 VARCHAR(10),
col27 VARCHAR(10),
col28 VARCHAR(10),
col29 VARCHAR(10),
col30 VARCHAR(10),
col31 VARCHAR(10),
col32 VARCHAR(10),
col33 VARCHAR(10),
col34 VARCHAR(10),
col35 VARCHAR(10),
col36 VARCHAR(10),
col37 VARCHAR(10),
col38 VARCHAR(10),
col39 VARCHAR(10),
col40 VARCHAR(10),
col41 VARCHAR(10),
col42 VARCHAR(10),
col43 VARCHAR(10),
col44 VARCHAR(10),
col45 VARCHAR(10),
col46 VARCHAR(10),
col47 VARCHAR(10),
col48 VARCHAR(10),
col49 VARCHAR(10),
col50 VARCHAR(10)
)
GO
--populate table
GO
/*Result:
Msg 8152, Level 16, State 30, Line 68
String or binary data would be truncated.*/


--switch to CL 150
ALTER DATABASE TestDb SET COMPATIBILITY_LEVEL = 150;
GO

--populate table
GO
/*Result:
Msg 2628, Level 16, State 1, Line 92
String or binary data would be truncated in table 'TestDb.dbo.T', column 'col16'. Truncated value: '2903BBCDWQ'.*/

--Note that the error number has changed from 8152 to 2628

-- this code will produce a custom error message under CL 140, but not in CL 150
BEGIN TRY
INSERT INTO dbo.T(col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16,col17,col18,col19,col20,col21,col22,col23,col24,col25,col26,col27,col28,col29,col30,col31,col32,col33,col34,col35,col36,col37,col38,col39,col40,col41,col42,col43,col44,col45,col46,col47,col48,col49,col50) VALUES 
('0AED','B35B','C0','5','0','27','886','4264A29','0FE9AD','DF6','2344','73','5927','C48','355CA','2903BBCDWQI','CD7','9C','16F86D9','E0E','9D50','62E','6269BB38','ADAE','600F9AA8','61EE384','18A88ACF','673C','0C232A9','BB','','506983AE','01C29','8EC','9FF','34BF0F4C','4F1BE5','DA81','7','CAB96873','24D6B863','','','','7049','D80C','1E0459C6','FA19DB','7D9E52DE','ATT4')
END TRY
BEGIN CATCH
	IF ERROR_NUMBER() = 8152
	THROW 60000, N'Customized error message', 1;  
END CATCH
GO

--disable the new message under Cl 150
ALTER DATABASE SCOPED CONFIGURATION SET VERBOSE_TRUNCATION_WARNINGS = OFF;
GO
--cleanup
DROP TABLE IF EXISTS dbo.T;
